:root { 
--deep_orange_50:#f9e4d9; 
--gray_900_14:#39140014; 
--deep_orange_50_01:#ffe3df; 
--gray_900_77:#5b200077; 
--deep_orange_400_01:#ef6c57; 
--purple_A200_01:#b550f8; 
--white_A700_70:#ffffff70; 
--deep_orange_50_02:#f9e5da; 
--red_50:#fdf0e9; 
--red_100:#f5ded1; 
--red_100_01:#f6d9ca; 
--gray_900_a3:#391400a3; 
--blue_gray_800_02:#3a3c56; 
--gray_900_6f:#560a006f; 
--gray_500_01:#9b9a9b; 
--gray_900_0a:#3914000a; 
--blue_gray_800:#32334c; 
--deep_orange_300:#f28371; 
--blue_gray_700:#4d4f6e; 
--blue_gray_900:#28293e; 
--deep_orange_400:#ef6d58; 
--purple_A200:#b550f6; 
--deep_orange_100:#f3d1bf; 
--purple_50:#f4e3ff; 
--gray_900_0a_01:#551e000a; 
--deep_orange_100_70:#f3d1bf70; 
--gray_400:#b4abba; 
--white_A700_4b:#ffffff4b; 
--gray_500:#a9a9a9; 
--blue_gray_100:#d7d7d7; 
--amber_400:#f6cf20; 
--white_A700_a3:#ffffffa3; 
--gray_900:#381300; 
--white_A700_80:#ffffff80; 
--amber_300:#f7cc47; 
--amber_300_01:#f7cb47; 
--gray_300:#dfdfe8; 
--blue_gray_800_01:#3a3b55; 
--white_A700:#ffffff; 
}