
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/EpilogueBold.ttf"); font-family : "Epilogue"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/EpilogueRegular.ttf"); font-family : "Epilogue"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/EpilogueBlack.ttf"); font-family : "Epilogue"; font-weight : 900;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/EpilogueExtraBold.ttf"); font-family : "Epilogue"; font-weight : 800;  }